.post {
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.image {
  height: 75px;
  width: 195px;
  flex-shrink: 0;
  position: relative;
  margin-right: 24px;
}

.image img {
  border-radius: 8px;
}

/*.image figure {*/
/*  border-radius: 8px;*/
/*  height: 65px;*/
/*  overflow: hidden;*/
/*  width: 65px;*/
/*}*/

.title {
  font-weight: bold;
}

.subtitle {
  vertical-align: middle;
  font-size: 1rem;
}
.descriptionReadMore{
  display: none;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 24px;
  vertical-align: middle;
  animation-duration: 0.4s;
}
.post:hover .descriptionReadMore{
  display: inline-block;
}

@media (max-width: 768px) {
  .image {
    height: 45px;
    width: 65px;
    margin-right: 16px;
  }
}