.pageLayoutWrapper {
    padding: 1.5rem;
}
.pageLayout {
    display: flex;
    flex-direction: column;
}
.pageLayoutHeader{
    position: sticky;
    top: 0;
}
.pageLayoutBody{
    flex: 1;
}
@media (min-width: 959px) {
    .pageLayoutWrapper {
        padding: 3rem;
    }
}