.pageLayoutWrapper {
    padding: 1.5rem;
    padding-top: unset;
    display: flex;
    justify-content: center;
}
.pageLayout {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 3rem);
    max-width: 800px;
    flex: 1;
}
.pageLayoutHeader{
    position: sticky;
    top: 0;
}
.pageLayoutBody{
    flex: 1;
}
@media (min-width: 959px) {
    .pageLayoutWrapper {
        padding: 3rem;
        padding-top: unset;
    }
}