.footerWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.footerLeftWrapper{
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.footerSourceCode{
  cursor: pointer;
  margin-left: 24px;
  font-weight: 600;
}
.footerLink {
  margin-right: 24px;
}
.footerLinkWrapper{
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 579px) {
  .footerLinkWrapper{
    width: 100%;
  }
  .footerLeftWrapper{
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}