.selectFavColorCTA {
  color: var(--fav-color);
  cursor: pointer;
  border: unset;
  background: unset;
  padding: 4px;
}
.selectFavColorLabel {
  margin-top: 16px;
}
.selectFavColorInputColor {
  margin: 25px 25px 25px 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectFavColorInputColor:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.7s ease;
}
.selectFavColorInputColorChecked{
  width: 30px;
  height: 30px;
}
.selectFavColorInputColorWrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.selectFavColorAction{
  margin-top: 60px;
}
.selectFavThemeWrapper{
  display: flex;
  justify-content: space-between;
}
.selectFavThemeButton{
  padding: 16px;
  width: 49%;
  margin-top: 24px;
  cursor: pointer;
  border: unset;
  font-weight: bold;
}
.selectFavThemeButton.selectFavThemeButtonSelected{
  border: 2px solid var(--fav-color);
}