.aboutIntro{
    font-weight: 700;
    font-size: 7vw;
    line-height: 129.69%;
    letter-spacing: 0.03em;
    margin-bottom: 600px;
    margin-left: 0;
}
@media (min-width: 959px) {
    .aboutIntro {
        font-size: 60px;
    }
}