.aboutWrapper{
    margin-bottom: 40px;
    margin-top: 0px;
}
.aboutIntro{
    font-weight: 700;
    font-size: 24px;
    line-height: 129.69%;
    letter-spacing: 0.03em;
    margin-left: 0;
}
@media (min-width: 959px) {
    .aboutWrapper{
        margin-bottom: 40px;
        margin-top: 24px;
    }
    .aboutIntro {
        font-size: 36px;
    }
}