@import "App.css";
@import url("https://fonts.googleapis.com/css?family=Muli:400,700,800,900&display=swap");
body {
  box-sizing: border-box;
  font-family: Muli,sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0
}
*, ::before, ::after {
  box-sizing: border-box;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}
.long {
  -webkit-transform: translateY(5px);
  transform: translateY(5px)
}

h1 {
  font-weight: 700;
}

html {
  font-size: 18px;
}
@media (max-width: 579px) {
  html {
    font-size: 16px;
  }
}


:root{
  --pink: #ffa7c4;
  --bg-color: white;
  --fav-color: rgb(121, 75, 196);
  --bg-overlay: rgba(0, 0, 0, 0.4);
  --surface: white;
  --font-color: black;
  --color__primary--muted: rgba(136,153,255,0.4);
}

/* Link */
a{
  text-decoration: none;
  color: var(--fav-color);
  overflow: hidden;
}
a:hover, a:focus{
  position: relative;
}

a::after {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--fav-color);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-20%, 0, 0);
}

a:hover::after,
a:focus::after {
  position: absolute;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


/* Common CSS utilities*/
.d-block {
  display: block;
}
@media (max-width: 579px) {
  .d-sm-none{
    display: none;
  }
}

.d-flex {
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.pointer{
  cursor: pointer;
}

.textGray {
  color: rgb(83, 100, 113);
}

/* Heading */
.heading{
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 129.69%;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-bottom: 24px;
}

.movingUpAnimation {
  z-index: 0;
  transform: translateY(30px);
  opacity: 0;
  animation: 1s ease 0.2s 1 normal forwards running movingUpAnimation;
}

@media (min-width: 959px) {
  .heading {
    font-size: 40px;
  }
}

@keyframes movingUpAnimation {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.text-center{
  text-align: center;
}